{% trans_default_domain 'FOSUserBundle' %}


<div class="row fos_user_user_show">
    <div class="col-sm-3 col-lg-2">
        <a href="{{ path('fos_user_change_password') }}"><button type="button" class="btn btn-default navbar-btn">Jelszó változtatás</button></a>
    </div>
    <div class="col-sm-9 col-lg-10">
        <dl>
            <dt>{{ 'profile.show.username'|trans }}: {{ user.username }}</dt>
            <dt>{{ 'profile.show.email'|trans }}: {{ user.email }}</dt>
            <dt>Last login: {{ user.lastLogin|date }} </dt>
            <dt>Roles: {{ user.roles|join(', ') }}</dt>
        </dl>
    </div>
</div>
