{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Edit <a href="{{ path('fos_user_profile_edit') }}"><button type="button" class="btn btn-default">profile</button></a></h1>
        </div>
    </div>
</div>

{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
