{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
       <p>THIS PAGE PAGE IS MEANT TO BE DISPLAYED FOR USERS BEARING WITH ROLE_ADMIN ONLY.</p>
        <a href="{{ path('homepage') }}">Back</a>
    </div>
{% endblock %}
