{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <p>THIS IS MEANT TO BE DISPLAYED FOR USERS BEARING WITH ROLE_CMS_USER ONLY.</p>
        <a href="{{ path('homepage') }}">Back</a>
    </div>
{% endblock %}
