{% extends 'base.html.twig' %}

{% block body %}
          <div class="well text-center">
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger" rel="stylesheet" href="{{ path('admin_page') }}">Go to Admin page</a>
            {% endif %}
            {% if is_granted('ROLE_CMS_USER') %}
               <a class="btn btn-warning" rel="stylesheet" href="{{ path('cms_user_page') }}">Go to CMS user page</a>
            {% endif %}
            {% if is_granted('ROLE_NORMAL_USER') %}
                <a class="btn btn-default" rel="stylesheet" href="{{ path('normal_user_page') }}">Go to Normal user page</a>
            {% endif %}
          </div>
    <div>
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    <a class="pull-right" href="{{ path('fos_user_profile_show') }}">Show profile</a>
    </div>
{% endblock body %}

{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}
