{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="page-header">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    </div>


    <a href="{{ path('fos_user_profile_show') }}"><button type="button" class="btn btn-success">Back to my profile</button></a>

    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
