{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ path('captcha_layout_stylesheet_url') }}" rel="stylesheet" />
    {% endblock %}
{% block fos_user_content %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

        <div class="page-header">
            <h1>Login</h1>
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message|trans(message, 'security') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form action="{{ path("fos_user_security_login") }}" method="post">

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" class="form-control" />

            <div class="form-group">
                {#<label for="username">{{ 'security.login.email'|trans }}</label>#}
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
            </div>

            <div class="form-group">
                {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
            </div>
            {% if app.session.get(constant('AppBundle\\Entity\\User::NUM_OF_FAILED_LOGINS_SESSION_KEY'), 0) >= 3 %}
            {{ captcha_html | raw  }}
            <div class="form-group">
                <input type="text" id="captchaCode" name="captchaCode">
            </div>
            {% endif %}
{#
            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
#}
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
            <a href="{{ path('fos_user_resetting_request') }}" class="pull-right navbar-btn">Forgotten password</a>
        </form>

    </div>
</div>
{% endblock fos_user_content %}
