{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

        <div class="page-header">
            <h1>Forgotten password</h1>
        </div>

        {% include "@FOSUser/Resetting/request_content.html.twig" %}

    </div>
</div>
{% endblock fos_user_content %}
