{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">

        <div class="page-header">
            <h1>Reset password</h1>
        </div>

        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}

    </div>
</div>
{% endblock fos_user_content %}
